.navbar-brand {
  margin-left: 30px;
  background: #a44445;
  font-size: 20px;
  color: #fff;
  text-align: center;
  float: left;

}

.navbar-nav {
  float: right;
  margin-right: 30px;
  color: #777777;
  font-size: 16px;
}

nav {
  margin-bottom: 50px;
}